<h1>Hello, Rails! Can I Run is coming.</h1>

<%= form_tag("/positions", :method => "get") do %>
  <%= label_tag(:age, "Age:") %> <br />
  <%= text_field_tag(:age) %> <br />
  <%= label_tag(:zip, "Zip Code:") %> <br />
  <%= text_field_tag(:zip) %> <br />
  <%= submit_tag("letsgo") %>
<% end %>